<div *ngIf="vmdata">

  <h1>{{vmdata.name}}</h1>
  <table border="1">
    <tr>
      <th>Spec</th>
      <th></th>
    </tr>
    <tr>
      <td>NodeID</td>
      <td>{{vmdata.nodeid}}</td>
    </tr>
    <tr>
      <td>ID</td>
      <td>{{vmdata.id}}</td>
    </tr>
    <tr>
      <td>CPU</td>
      <td>{{vmdata.cpu}} CPU</td>
    </tr>
    <tr>
      <td>Memory</td>
      <td>{{vmdata.mem}} MB</td>
    </tr>
    <tr>
      <td>Net</td>
      <td>{{vmdata.net}}</td>
    </tr>
    <tr>
      <td>AutoStart</td>
      <td>{{vmdata.autostart}}</td>
    </tr>
    <tr>
      <td>Status</td>
      <td>{{vmdata.status}}</td>
    </tr>
  </table>
</div>

<br>
<p>Status 0: Stop, 1: Start</p>
<br>
<br>
<a href="{{vmdata.vncurl}}"><button modifier="large--cta">Console</button></a>
<br>
<br>
<button (click)="start()">Start</button>
<button (click)="stop()">Stop</button>
<button (click)="shutdown()">Shutdown</button>
<button (click)="reset()">Reset</button>
<div></div>
<br>
<button (click)="goBack()">Delete</button>
<p><b>delete button will destroy the VM.
  But, VM Storage is not destroy!</b></p>
<div></div>
<br>
<button (click)="goBack()">go back</button>
