<h1>VM Create</h1>

<b>Createプロセスが走ってもVM作成に失敗してる可能性があるので注意を（他のVMと名前が同じでもコケますが、通知機能はない）</b>
<br>
<b>作成ボタン押しまくるとNodeとストレージが高負荷になるんでマジでやめてください</b>
<br>
<div class="container">
  <form (ngSubmit)="onSubmit(model)">
    <div>
      <label>Node</label>
      <div>
        <select id="node" placeholder="Node" name="node" required [(ngModel)]="model.nodeid">
          <option *ngFor="let node of nodes" [value]="node.id">
            {{node.id}}:{{node.hostname}}</option>
        </select>
      </div>
    </div>
    <div>
      <label>VMName</label>
      <div>
        <input placeholder="Name" type="text" id="name" name = "name" required [(ngModel)]="model.name">
      </div>
    </div>
    <div>
      <label>Group</label>
      <div>
        <select id="group" placeholder="group" name="group" required [(ngModel)]="model.group">
          <option *ngFor="let group of groups" [value]="group.name">
            {{group.name}}</option>
        </select>
      </div>
    </div>
    <div>
      <label>CPU</label>
      <div>
        <select id="cpu" placeholder="cpu" name="cpu" required [(ngModel)]="model.cpu">
          <option *ngFor="let cpu of cpus" [value]="cpu.spec">
            {{cpu.spec}}</option>
        </select>
      </div>
    </div>
    <div>
      <label>Memory</label>
      <div>
        <select id="memory" placeholder="memory" name="memory" required [(ngModel)]="model.memory">
          <option *ngFor="let memory of memorys" [value]="memory.size">
            {{memory.size}}</option>
        </select>
      </div>
    </div>
    <div>
      <label>StorageType</label>
      <div>
        <select id="storagetype" placeholder="storagetype" name="storagetype" required [(ngModel)]="model.storagetype">
          <option *ngFor="let storage of storages" [value]="storage.type">
            {{storage.type}}:{{storage.name}}</option>
        </select>
      </div>
    </div>
    <div>
      <label>StorageSize</label>
      <div>
        <select id="storagesize" placeholder="storagesize" name="storagesize" required [(ngModel)]="model.storage">
          <option *ngFor="let storagesize of storagesizes" [value]="storagesize.size">
            {{storagesize.size}}</option>
        </select>
      </div>
    </div>
    <div>
      <label>Image</label>
      <div>
        <select id="image" placeholder="image" name="image" required [(ngModel)]="model.image">
          <option *ngFor="let image of images" [value]="image.name+':'+image.tag">
            {{image.name}}:{{image.tag}}</option>
        </select>
      </div>
    </div>
    <br>
    <button type="submit">Create</button>
  </form>
</div>
<div>
  {{model|json}}
</div>
<br>
<br>
<br>
<h2>image tables</h2>
<table border="1">
  <tr>
    <th>ImageName</th>
    <th>ImageTag</th>
  </tr>
  <ng-container *ngFor="let image of images">
    <tr>
      <td>{{image.name}}</td>
      <td>{{image.tag}}</td>
    </tr>
  </ng-container>
</table>

<div></div>
<br>
<button (click)="goBack()">go back</button>
